.mainGroup {
    -fx-font-size: 15;
    -fx-font-family: sans-serif;
}

.mainViewHeader {
    -fx-background-color: #525252;
}

.jump-button {
    -fx-font-size: 30;
    -fx-font-family: sans-serif;
    -fx-background-color: #f2f2f2;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.jump-button:hover {
    -fx-font-size: 31;
}

.contentPane {
    -fx-background-color: #ffffff;
}